<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Frontend</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to the Flask Frontend!</h1>
        <p>This is a basic template served by Flask.</p>
    </header>

    <section class="content">
        <h2>Content asdasdasdasdds</h2>
        <p>You can add more content here. This is just a starting point.</p>
    </section>

    <footer>
        <p>Powered by Jakkit2</p>
    </footer>
</body>
</html>
